<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurveFitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Quantifier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>670890C8184BC77900F38A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>670890EA184BC77A00F38A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67089102184BC81700F38A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67089121184BC81700F38A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6776EF11177F4C09001FC0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6776EF2C177F4C09001FC0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
